<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads" xmlns:rim="http://www.blackberry.com/ns/widgets" id="cordova-plugin-allow-backup" version="0.0.2">
  <name>android-permissions</name>
  <description>
	  To add necessary permissions for Bluetooth.
  </description>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=6.4.0"/>
    <engine name="cordova-android" version=">=6.0.0"/>
  </engines>
  <preference name="BACKUP" default="false"/>
  <platform name="android">
    <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
      <manifest xmlns:tools="http://schemas.android.com/tools"/>
    </edit-config>
    <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
      <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
      <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    </edit-config>
  </platform>
</plugin>
